@charset "utf-8";

/*Estilos para tela*/

@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;900&family=Sriracha&display=swap');

:root {
    --Fundo-geral: #caf0f8;
    --botoes-destaques-links_ativos: #ff6f61;
    --Detalhes-menus-bordas_suaves: #2d6a4f;
    --Texto-principal: #2b2d42;
    --hero-ou-rodape: #ffffff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
    
}

header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    padding-bottom: 0px;
    top: 0;
    position: sticky;
    z-index: 1000;
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.274);
}

header h1 {
    font-variant: small-caps;
}

header  h1, nav a {
   color: #2d6a4f;
}

nav a {
    text-decoration: none;
    padding: 7px;
    margin: 5px;

}

nav a:hover {
    text-decoration: underline;
}
/*Secção hero*/
section#hero {
    height: 95vh;
    background-color: peachpuff;
    background-image: url(../image/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#section-hero {
    max-width: 1000px;
    margin: 0px auto;
    color: white;
    display: flex;
    flex-direction: column;
}

div#section-hero > h1 {
    font-size: 3.2em;
}

div#section-hero h1, div#section-hero h2, div#section-hero a {
    margin: 10px;
}

#section-hero div {
    text-align: center;
    padding: 10px;
}

#section-hero div a {
    background-color: var(--botoes-destaques-links_ativos);
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 150px;
    display: inline-block;
    border-radius: 5px;

}

#section-hero div a:hover {
    background-color: var(--Detalhes-menus-bordas_suaves);
    transition: 0.8s;
}

/*Destinos popoulares*/
#destinos-populares h1 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    
}

#destinos-populares {
    height: 700px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 100px;

}

.item {
    min-width: 300px;
    background-color: #ffffff;
    width: calc(31% - 5px);
    box-sizing: border-box;
    text-align: center;
    
    
}

.item:hover {
   outline: 2px solid rgba(0, 0, 0, 0.418);
}

.item h3 {
    text-align: center;
}

.item .nome, .pequena-descricao p {
    margin: 10px;
    
}

.item img {
    display: block;
    width: 100%;
}

.pequena-descricao p {
    text-align: start;
    margin-bottom: 0px;
}

/*hr*/
hr {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid var(--Detalhes-menus-bordas_suaves);
    padding: 2px;
    
}
/*Tabela de pacotes*/
section#pacotes-especiais {
    margin-bottom: 350px;
}

section#pacotes-especiais h1 {
    text-align: center;
    padding: 10px 0px 20px 0px;
}


table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

table tbody tr td, table thead tr th {
    text-align: center;
    padding: 7px;
}

table tbody tr:hover  {
    background-color: rgba(0, 0, 0, 0.226);
}

/*tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.308);

}*/

thead {
    background-color: var(--Detalhes-menus-bordas_suaves);
    color: white;
}

/*Video*/
#video {
    max-width: 600px;
    min-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

}
#video h1 {
    text-align: center;
    padding: 20px;
    
}
#video p {
    padding: 20px;
    padding-left: 0px;
    font-size: 1.5em;
}
#video iframe {
 max-width: 600px;
 min-width: 200px;
 height: 325px;
 

}
/*Contactos*/
#contacto {
    padding: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contacto h2{
    margin-bottom: 20px;

}

li {
    margin: 5px;
    list-style: none;
}

/*Dicas de viagens*/
#dicas-viagens {
    height: 650px;
    background-color: rgba(0, 0, 0, 0.322);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
picture {
    margin: auto;
}
.conteudo {
    width: 450px;
    padding: 20px;
}

.conteudo p, .conteudo h1 {
    margin-top: 10px;
}

#mala {
    display: none;
}



.imagem-de-viagem-retrato {
    display: none;   
}

a#meu-github {
    text-decoration: none;
    color: white;
}

a#meu-github:hover {
    text-decoration: underline;
}

/*Footer*/
footer {
    background-color: var(--Texto-principal);
    padding: 30px;
}

footer p {
    text-align: center;
    color: white;
}


/*Estilos para telas menores*/
@media screen and (max-width: 600px) {
/*Header*/
    nav {
        display: none;
    }

/*hero*/
    div#section-hero {
        padding: 10px;
        
    }

    section#hero {
        background-image: url(../image/hero-portrait.jpg);
        align-items: stretch;
        
    }

    div#section-hero {
        margin-top: 100px;

    }
    div#section-hero > h1 {
        font-size: 2em;
    }

/*Destinos populares*/
    #destinos-populares {
        height: auto;
    }

    .item {
        margin: 5px 0px;
        width: 90%;
    }
    div #destinos:hover {
        
    }

/*Tabela*/
    table {
        display: block;
        width: 95%;
    }

    table tbody tr td, table thead tr th {
        font-size: .8em;
        border: none;
    } 

    table tbody tr td:last-child {
        text-align: justify;
    }

    tr:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.308);

    }

    thead {
        background-color: var(--Detalhes-menus-bordas_suaves);
        color: white;
    }

/*Video*/
    iframe {
        display: block;
        width: 95%;
        margin: auto;
    }

/*Dica de viagens*/

#aviao {
    display: none;
}

#mala {
    width: 80%;
    margin: auto;
}

.order {
    order: 3;
}

}